@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
.homePage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    position: relative;
    /* max-width: 500px; */
    /* background-color: rgb(37, 63, 81); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 30%),  url(https://images.pexels.com/photos/1695050/pexels-photo-1695050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
    font-family: sans-serif;
    overflow: hidden;
}

.backgroundImage {
    background-image:  url(https://images.pexels.com/photos/6249821/pexels-photo-6249821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.backgroundImage img {
    height: 100%;
    width: 100%;
}
}