.soci {
  margin-bottom: 15%;
}

.social {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 8%; */
  /* margin: 7% 0; */
}

.socialIcon span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  font-size: 12vw;
  padding: 10px;
  color: antiquewhite;
  background-color: black;
  border-radius: 50%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialCard {
  /* margin: 5% 0 4% 0; */
  padding: 9% 2% 0% 2%;
  height: 100%;
  width: 88vw;
  border-radius: 40px;
  flex-direction: column;
  background-color: var(--col);
}

.socialHeading {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1px dotted;
  width: 100%;
  /* gap: 5%; */
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

.socialCard h2 {
  font-size: 9vw;
  font-weight: 200;
  line-height: 0cm;
}

.facebook {
  margin-bottom: 1%;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  line-height: 1cm;
}

.facebook p {
  font-size: 4vw;
  font-weight: 100;
  color: gray;
}

.facebook h3 {
  font-size: 6vw;
  font-weight: 100;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 90%; */
}

.instagram {
  margin-bottom: 4%;
  padding: 2%;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--col);
  line-height: 1cm;
}

.instagram p {
  font-size: 4vw;
  font-weight: 100;
  color: gray;
}

.instagram h3 {
  font-size: 6vw;
  font-weight: 100;
}
