.full-size-container {
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    z-index: 0;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    transform: translate(0%,15%);
    /* position: absolute; */
    top: -16rem;
    transition: width 0.3s, height 0.3s;
}

.full-size-container img {
    /* height: 100vw; */
    width: 100%;
    /* transition: width 1s, height 1s; */
}

.full-size-container button {
    font-size: 6vw;
    font-weight: 400;
    background-color: white;
    color: black;
    padding: 2% 4%;
    position: absolute;
    border-radius: 40px;
    top: 20%;
    right: 5%;
    /* position: fixed; */
    /* transition: width 1s, height 1s; */
}