/* .headerContent {
    width: 100%;
    height: 50vh;
    background-image: url(https://images.pexels.com/photos/7685988/pexels-photo-7685988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  } */

.headerInner {
  padding: 2%;
}

.menuOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.menuOptions a {
  color: var(--color-aqua);
  color: black;
  font-size: 5vw;
  text-decoration: none;
  font-weight: 400;
}

/* ------------------------------------ */

@media (max-width: 500px) {
  .headerInner {
    position: absolute;
    right: 0;
    margin-top: 2%;
    z-index: 1;
    /* position: fixed; */
  }

  .menuOptions {
    right: 20px;
    gap: 20px;
    background: var(--bg);
    flex-direction: column;
    padding: 20px;
    z-index: 2000;
    display: none;
    transition: all ease 1s;
    border-radius: 10px;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.8),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menuOptions.open {
    display: flex;
    /* transition: all ease-out 2s; */
    transition: all ease 1s;
    transition: width 2s linear 4s;
  }

  .hemburger {
    text-align: center;
    color: black;
    background: var(--bg);
    font-size: 8vw;
    right: 5px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px 6px;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.8),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
